@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Montserrat:wght@400;900&family=Oswald:wght@300;700&display=swap');
*{
    margin:0;
    padding:0;
    outline:0;
}
body{
    background-color: #f5f5f5;
    font-family: 'Allerat',sans-serif;
}

#navbarMonstera{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
   
}
#navFirst{
    margin-left: 90px;
    width: 20%;
}
#navMid{
 display: flex;
 width: 60%;
}
#navMid div h4{
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-family: "Allerta",sans-serif;
}

#navMid div h4:hover{
    color: #000;
    text-decoration:underline;
}

#navEnd{
    display: flex;
    width: 20%;
}

#navEnd img{
    margin-left:20px;
    width:15px;
}
#midWhole{
    display: flex;
    flex-direction: row;
}
#midWholePart1{
    margin-top: 120px;
    margin-left: 80px;
}
#midWholePart11{
    display: flex;
    flex-direction: column;
    
}
#monstera{
    font-size: 90px;
    font-family: 'Montserrat',sans-serif;
    line-height: 70px;
}
#midWholePart11 ul li{
    font-family: 'Allerta',sans-serif;
 color: #000;
 
}
#midWholePart12{
    margin-top: 50px;  
    width:30%;
}
#midWholePart121{
    background-color: #486848;
    display: flex;
    flex-direction: row;
    color:#fff;
    padding:15px 20px;
    font-size: 15px;
    border-radius: 30px;
}

#midWholePart121 h1{
    font-weight: 200;
    font-family: 'Allerat',sans-serif;
}
#midWholePart121 img{
    width:13px;
    position: relative;
    left:100%;
    top: 22%;  
}
#midWholePart13{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
   
}

.midWholePart13Parts{
    display: flex;
    flex-direction: row; 
   
}
.midWholePart13Parts h4{
    font-weight: 800;
    font-family: 'Allerta',sans-serif;
  
}
#feeding{
    width:70px;
    margin-right:5px;
    margin-top:-8px;
}
.text{
    font-size: 14px;
}
#light{
    width:30px;
    margin-right:5px;
    margin-top:-5px;
  
}
#care{  
    
    width:40px;
    margin-right:5px;
    margin-top:-5px;
}
#imgMain{
    width: 100%;
    float: right;

}
